<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.puzz.graphanything">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:theme="@style/AppTheme"
        android:versionCode="3"
        android:versionName="3.0">
        <activity
            android:name=".activities.GraphListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.GraphListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GraphListActivity" />
        </activity>
        <activity
            android:name=".activities.GraphActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.GraphEditActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_graph_properties" />
        <activity
            android:name=".activities.GraphEntriesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_graph_values" />
        <activity
            android:name=".activities.HelpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GraphColumnActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.GraphEntryActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".broadcast.TimerSoundPlayer">
            <intent-filter>
                <action android:name=".broadcast.Permission.PLAY_TIMER_SOUND"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>